{% extends 'base.html' %}

{% load pagination_tags products_extras %}

{% block main %}
    {% include 'products/submenu_categories.html' %}
		
		<div class="left col">
			<div class="item_page">
				<div class="item_page_l">
					<div class="item_img_big"><img src="/static/images/4.jpg" alt="" /></div>
				</div>
				<div class="item_page_r">
					<div class="item_cat"><a href="{{ product.subcategory.get_absolute_url }}">{{ product.subcategory.name }}</a></div>
					<h3 class="item_name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a>{% if product.brand %} <span>{{ product.brand.name }}</span>{% endif %}</h3>
					<div class="item_tocart">
						<div class="item_tocart_price"><span>{{ product.get_price }}</span> руб.</div>
						<div class="item_tocart_btn"><input type="button" /></div>
					</div>
					<div class="cl"></div>
					
					<div class="item_des text">
						{{ product.description|safe }}
					</div>

                    {% if params %}
                        <div class="item_params">
                            <table>
                                {% for param in params %}
                                    <tr>
                                        <td class="param_name">{{ param.property.name }}</td>
                                        <td class="param_val">{{ param.value }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div><!--/item_params-->
                    {% endif %}

				</div><!--/item_page_r-->
				
				<div class="similar_items">
					<h2>Похожие товары</h2>
                    {% for product in similar_products %}
                        {% get_product_html product %}
                    {% endfor %}
				</div><!--/similar_items-->
			</div><!--/item_page-->
			
		</div><!--/left-->
		
		<div class="right col">
			<div class="catalog_filters">
				<div class="filter">
					<h2>Подкатегории</h2>
					<ul>
                        <li><a href="{{ category.get_absolute_url }}">Все</a></li>
                        {% for subcategory in subcategories %}
                            <li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a></li>
                        {% endfor %}
					</ul>
				</div>
			</div><!--/catalog_filter-->
			
		</div><!--/right-->
{% endblock %}