{% extends 'base.html' %}

{% load pagination_tags products_extras %}

{% block main %}
    {% include 'products/submenu_categories.html' %}
    
    <div class="left col">
        
        <div class="catalog_sort">
            <div class="current_sort">Товары выводятся без сортировки.</div>
            <div>Можно выводить сначала <a href="#">дешевые</a> или <a href="#">дорогие</a>, и даже <span class="sort_price_lnk">установить диапозон цен</span></div>
        </div>
        
        <div class="items">
            {% autopaginate products 10 %}
            {% for product in products %}
                {% get_product_html product %}
            {% endfor %}

            {% paginate products_count %}

        </div><!--/items-->
    </div><!--/left-->
    
    <div class="right col">
        <div class="catalog_filters">
            <div class="filter">
                <h2>Подкатегории</h2>
                <ul>
                    <li class="current"><a href="#">Все товары</a></li>
                    <li><a href="#">Катушка байтраннер</a></li>
                    <li><a href="#">Катушка	безынерционная</a></li>
                    <li><a href="#">Катушка инерционная</a></li>
                </ul>
            </div>
            <div class="filter">
                <h2>Подкатегории</h2>
                <ul>
                    <li class="current"><a href="#">Все брэнды</a></li>
                    <li><a href="#">Daiwa</a></li>
                    <li><a href="#">Flamingo</a></li>
                    <li><a href="#">Kola Salmon</a></li>
                    <li><a href="#">Daiwa</a></li>
                    <li><a href="#">Flamingo</a></li>
                </ul>
                <div class="filter_other"><a href="#">прочие производители</a></div>
            </div>
            <div class="filter">
                <h2>Наличие в магазинах</h2>
                <ul>
                    <li class="current"><a href="#">Во всех магазинах</a></li>
                    <li><a href="#">Клёвый Островского, 16</a></li>
                    <li><a href="#">МАКСИ Шилова,&nbsp;100</a></li>
                </ul>
            </div>
        </div><!--/catalog_filter-->
        
        <div class="sale">
            <h2>Распродажа</h2>
            <div class="sale_hits">посмотреть <a href="#">Хиты продаж</a></div>
            <div class="sale_recomend">или <a href="#">Рекомендации</a></div>
            <div class="sale_items">
                {% for product in sale_products %}
                    {% get_product_html product 'False'%}
                {% endfor %}

            </div><!--/sale_items-->
            <div class="sale_all">
                {% if category %}
                    <a href="#">Все товары с рапродажей в «{{ category.name }}»</a>
                {% else %}
                    <a href="#">Все товары с рапродажей в «{{ section.name|safe }}»</a>
                {% endif %}
            </div>
        </div>
    </div><!--/right-->
{% endblock %}