{% extends 'base.html' %}

{% load products_extras news_extras pytils_numeral banners_extras %}

{% block main %}
		<div class="left col">
			<div class="catalog_groups">
				<ul>
					<li class="current rc_dark"><a href="#">Распродажа</a><div class="rc_dark_arr"></div></li>
					<li><a href="#">Хиты продаж</a></li>
					<li><a href="#">Рекомендации</a></li>
				</ul>
			</div><!--/catalog_groups-->

			<div class="items">
                {% for product in sale_products %}
                    {% get_product_html product %}
                {% endfor %}
			</div><!--/items-->

			<div class="discounts">
				<h2>Все товары со скидкой</h2>
				<div class="discounts_qty">всего {{ sale_products_count }} товар{{ sale_products_count|choose_plural:',а,ов' }}</div>
                <ul>
                    {% for section in sale_sections %}
                        <li><a href="{{ section.get_absolute_url }}">{{ section.name|safe }}</a></li>
                    {% endfor %}
				</ul>
			</div><!--/discounts-->
		</div><!--/left-->

		<div class="right col">
            {% get_last_news %}
            {% get_right_banner %}
		</div><!--/right-->
{% endblock %}