{% extends 'base.html' %}

{% block main %}
		<div class="left col">
			<div class="catalog_groups">
				<ul>
					<li class="current rc_dark"><a href="#">Распродажа</a><div class="rc_dark_arr"></div></li>
					<li><a href="#">Хиты продаж</a></li>
					<li><a href="#">Рекомендации</a></li>
				</ul>
			</div><!--/catalog_groups-->

			<div class="items">
				<div class="item">
					<div class="item_l">
						<div class="item_img"><a href="#"><img src="static/images/1.jpg" alt="SIMMS Куртка In-Vest Jacket L TAN" /></a><a class="item_img_fr" href="#"></a></div>
						<div class="item_oldprice"><s><span>5 400</span> руб.</s></div>
					</div>
					<div class="item_r">
						<div class="item_cat"><a href="#">Вейдерсы</a></div>
						<h3 class="item_name"><a href="#">SIMMS Куртка куртяшная In-Vest Jacket L TAN ололо</a><span>Simms</span></h3>
						<div class="item_tocart">
							<div class="item_tocart_price"><span>4 890</span> руб.</div>
							<div class="item_tocart_btn"><input type="button" /></div>
						</div>
					</div>
					<div class="cl"></div>
				</div>
				<div class="item">
					<div class="item_l">
						<div class="item_img"><a href="#"><img src="/static/images/1.jpg" alt="SIMMS Куртка In-Vest Jacket L TAN" /></a><a class="item_img_fr" href="#"></a></div>
						<div class="item_oldprice"><s><span>5 400</span> руб.</s></div>
					</div>
					<div class="item_r">
						<div class="item_cat"><a href="#">Вейдерсы</a></div>
						<h3 class="item_name"><a href="#">SIMMS Куртка In-Vest Jacket L TAN</a><span>Simms</span></h3>
						<div class="item_tocart">
							<div class="item_tocart_price"><span>4 890</span> руб.</div>
							<div class="item_tocart_btn"><input type="button" /></div>
						</div>
					</div>
					<div class="cl"></div>
				</div>
				<div class="item">
					<div class="item_l">
						<div class="item_img"><a href="#"><img src="/static/images/1.jpg" alt="SIMMS Куртка In-Vest Jacket L TAN" /></a><a class="item_img_fr" href="#"></a></div>
						<div class="item_oldprice"><s><span>5 400</span> руб.</s></div>
					</div>
					<div class="item_r">
						<div class="item_cat"><a href="#">Вейдерсы</a></div>
						<h3 class="item_name"><a href="#">SIMMS Куртка In-Vest Jacket L TAN</a><span>Simms</span></h3>
						<div class="item_tocart">
							<div class="item_tocart_price"><span>4 890</span> руб.</div>
							<div class="item_tocart_btn"><input type="button" /></div>
						</div>
					</div>
					<div class="cl"></div>
				</div>
				<div class="item">
					<div class="item_l">
						<div class="item_img"><a href="#"><img src="/static/images/1.jpg" alt="SIMMS Куртка In-Vest Jacket L TAN" /></a><a class="item_img_fr" href="#"></a></div>
						<div class="item_oldprice"><s><span>5 400</span> руб.</s></div>
					</div>
					<div class="item_r">
						<div class="item_cat"><a href="#">Вейдерсы</a></div>
						<h3 class="item_name"><a href="#">SIMMS Куртка In-Vest Jacket L TAN</a><span>Simms</span></h3>
						<div class="item_tocart">
							<div class="item_tocart_price"><span>4 890</span> руб.</div>
							<div class="item_tocart_btn"><input type="button" /></div>
						</div>
					</div>
					<div class="cl"></div>
				</div>
			</div><!--/items-->

			<div class="discounts">
				<h2>Все товары со скидкой</h2>
				<div class="discounts_qty">всего 1206 товаров</div>
				<ul>
					<li><a href="#">Рыбалка</a></li>
					<li><a href="#">Печи, камины, бани</a></li>
					<li><a href="#">Пикник</a></li>
					<li><a href="#">Одежда и обувь</a></li>
					<li><a href="#">Туристическое снаряжение</a></li>
					<li><a href="#">Лодки и моторы</a></li>
				</ul>
			</div><!--/discounts-->
		</div><!--/left-->

		<div class="right col">
			<div class="news">
				<h2 class="rc_dark">Новости<div class="rc_dark_arr"></div></h2>
				<div class="new">
					<div class="new_img"><img src="/static/images/2.jpg" alt="" /><div class="new_img_fr"></div></div>
					<h3 class="new_h">Новое поступление</h3>
					<div class="new_date">9 декабря 2011</div>
					<div class="new_text">
						<p>Печи отопительные <a href="#">Термофор</a>, костюмы пуховые <a href="#">NORFIN Titan</a> и <a href="#">Polar</a>.</p>
					</div>
					<div class="cl"></div>
				</div>
				<div class="new">
					<div class="new_img"><img src="/static/images/2.jpg" alt="" /><div class="new_img_fr"></div></div>
					<h3 class="new_h">Акция по ледорубам</h3>
					<div class="new_date">9 декабря 2011</div>
					<div class="new_text">
						<p>Мотоледобуры <a href="#">JIFFY</a></p>
					</div>
					<div class="cl"></div>
				</div>
				<div class="new">
					<div class="new_img"><img src="/static/images/2.jpg" alt="" /><div class="new_img_fr"></div></div>
					<h3 class="new_h">Пополнение прокатного снаряжения</h3>
					<div class="new_date">9 декабря 2011</div>
					<div class="new_text">
						<p>Теперь вы можете взять напрокат зимние палатки (для установки на лёд) 2х и 3х— местные. <a href="#">Во всех подробностях</a></p>
					</div>
				</div>
			</div><!--/news-->

			<div class="specials">
				<div class="special"><a href="#"><img src="/static/images/3.jpg" alt="" /></a></div>
				<div class="special_t"></div>
				<div class="special_b"></div>
			</div><!--/specials-->
		</div><!--/right-->
{% endblock %}